# Compiled class files
*.class

#ignore the build directory
/bin/

# Log files
*.log

# ignore macOS files
.DS_Store

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse specific files
.project
.classpath
.settings/

# IntelliJ IDEA specific files
.idea/
*.iml
*.iws

# Maven specific files
target/

# Gradle specific files
.gradle/
build/

# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
